html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;

    /*Remove unnecessary x-scroll */
    width: 100%;
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.review-box {
    margin-bottom: 5px;
} 

#games-table {
    display: block;
    overflow-x: auto;
}

/* Image on catalogue page */
.game-thumbnail {
        max-width: 100px;
        max-height: 100px; 
        object-fit: cover;
}

/* Description on catalogue page */
@media only screen and (max-width: 768px){
    .game-description {
        display: none;
    }
}

#rating-box {
    height: 75px;
    width: 75px;
    border: 2px solid black;
    border-radius: 25%;
}

/* Image on game page */
#game-image {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}