@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&family=Syncopate:wght@400;700&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;

    /* Materialize Sticky Footer */
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    /*Remove unnecessary x-scroll */
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

/* Materialize Sticky Footer */
main {
    flex: 1 0 auto;
}

/*----------------------------------- General --------------------*/
.site-name {
    font-family: 'Syncopate', sans-serif;
    margin-left: 5px;
    white-space: nowrap;
    font-size: 1.5rem;
    text-align: center;
}

.page-header {
    font-family: 'Syncopate', sans-serif;
}

.text {
    font-family: 'Raleway', sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small, .btn-large {
    margin: 5px;
    white-space: nowrap;
}

.btn-large {
    padding: 0 20px;
}

.card-panel {
    padding: 10px;
}

.input-field>label {
    color: #767676;
}

/* Icon Grow adapted from Hover.CSS by Ian Lunn https://ianlunn.github.io/Hover/*/
.hvr-icon-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-icon-grow .hvr-icon {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-grow:hover .hvr-icon, .hvr-icon-grow:focus .hvr-icon, .hvr-icon-grow:active .hvr-icon {
    -webkit-transform: scale(1.3) translateZ(0);
    -moz-transform: scale(1.3) translateZ(0);
    -o-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0);
}

/*---------------------------------Header--------------------------*/
#image-row {
    width: 100%;
}

#image-gallery {
    margin-bottom: 10px;
    padding: 0;
    background-image: url("/static/images/games-hero-bg.jpg");
    width: 100%;
    height: 238px;
}

#image-gallery img {
    max-height: 250px;
    margin: 10px 0;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

#mobile-demo {
    padding-left: 15px;
}

/*--------------------------- Search Box -------------*/

#query {
    height: 33px;
    width: 240px;
    background-color: white;
    margin: 16px 5px;
    padding-left: 30px;
}

#search-box, #search-box-mob {
    position: relative;
}

#search-icon {
    color: #673ab7;
    font-size: 20px;
    line-height: 50px;
    padding-left: 8px;
}

#clear-icon {
    color: #673ab7;
    font-size: 20px;
    position: absolute;
    right: 10px;
}

#search-icon-mob {
    color: #673ab7;
    font-size: 20px;
    line-height: 50px;
    padding-left: 10px;
}

#clear-icon-mob {
    color: #673ab7;
    font-size: 20px;
    position: absolute;
    right: 25px;
    top: 25px;
}

/*--------------------------------- Footer -----------------------*/

.page-footer {
    position: relative;
    background-color: white;
    background: url("../images/pencils.jpg") no-repeat center bottom fixed;
    background-size: 100%; 
    object-fit: cover; 
    margin-top: 25px;
}

#social-links li {
    display: inline-block;
}

.social-icon i {
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    color: black; 
}

.social-icon i:hover {
    color: #673ab7;
}

/*------------------------- Home Page -----------*/
.welcome-text {
    font-size: 18px;
}

/*------------------------- Games Catalogue ----*/

#games-table {
    display: block;
    overflow-x: auto;
}

/* Image on catalogue page */
.game-thumbnail {
    max-width: 64px;
    max-height: 64px; 
    object-fit: cover;
}

#reviews-column {
    border-left: 2px solid #673AB7;
}

.review-card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination li.active a {
    background-color: #673AB7;
    border-radius: 10%;
}

/*---------------------------- Individual Game Pages ------------*/
#ratings-image {
    padding: 0;
}

#rating-box, #user-rating-box {
    height: 65px;
    width: 65px;
    background-color: #558b2f;
    border-radius: 50%;
    margin: 2px;
}

#user-rating-box {
    background-color: #ba68c8;
}

#rating-box p, #user-rating-box p {
    line-height: 20px;
    font-size: 25px;
    color: white;
    font-weight: 700;
}

/* Image on game page */
#game-image {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}

#game-details {
    padding-top: 20px;
}
/*------------------------- Profile -------------*/
.review-box {
    margin-bottom: 5px;
}

/*------------------------ Register -------------*/
.password-hint {
    font-size: 12px;
    color: #767676;
}