@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&family=Syncopate:wght@400;700&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;

    /* Materialize Sticky Footer */
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    /*Remove unnecessary x-scroll */
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

/* Materialize Sticky Footer */
main {
    flex: 1 0 auto;
}

/*----------------------------------- General --------------------*/
.site-name {
    font-family: 'Syncopate', sans-serif;
    margin-left: 5px;
    white-space: nowrap;
    font-size: 1.5rem;
    text-align: center;
}

.page-header {
    font-family: 'Syncopate', sans-serif;
}

.text {
    font-family: 'Raleway', sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

/* Icon Grow adapted from Hover.CSS by Ian Lunn https://ianlunn.github.io/Hover/*/
.hvr-icon-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-icon-grow .hvr-icon {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-grow:hover .hvr-icon, .hvr-icon-grow:focus .hvr-icon, .hvr-icon-grow:active .hvr-icon {
    -webkit-transform: scale(1.3) translateZ(0);
    -moz-transform: scale(1.3) translateZ(0);
    -o-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0);
}

/*---------------------------------Header--------------------------*/
#image-row {
    width: 100%;
}

#image-gallery {
    margin: 10px 0;
    padding: 0;
    background-image: url("https://pbs.twimg.com/media/E9PSDuNWUAgCe5V?format=jpg&name=small");
    width: 100%;
    height: 250px;
}

#image-gallery img {
    max-height: 250px;
    margin: 10px 0;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

/*--------------------------------- Footer -----------------------*/

.page-footer {
    position: relative;
    background-color: white;
    background: url("../images/pencils.jpg") no-repeat center bottom fixed;
    background-size: 100%; 
    object-fit: cover; 
}

#social-links li {
    display: inline-block;
}

.social-icon i {
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    color: black; 
}

.social-icon i:hover {
    color: red;
}

/*-----------------------------*/
.review-box {
    margin-bottom: 5px;
} 

#games-table {
    display: block;
    overflow-x: auto;
}

/* Image on catalogue page */
.game-thumbnail {
        max-width: 100px;
        max-height: 100px; 
        object-fit: cover;
}

/* Description on catalogue page */
@media only screen and (max-width: 768px){
    .game-description {
        display: none;
    }
}

#reviews-column {
    border-left: 2px solid purple;
}

@media only screen and (max-width: 992px){
    #reviews-column {
        display: none;
    }
}

#rating-box {
    height: 80px;
    width: 80px;
    background-color: #558b2f;
    border-radius: 50%;
    line-height: 27px;
    font-size: 26px;
    color: white;
    font-weight: 700;
}

/* Image on game page */
#game-image {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}