{% extends "base.html" %}
{% block content %}
    <hr>
        <h3 class="center-align deep-purple-text page-header">
            About
        </h3>
    <hr>    
    <div class="row">
        <div class="col m3 hide-on-small-only" id="left-image-column">
            <img src="static/images/ttrny.jpg" class="about-image responsive-img" alt="#">
            <img src="static/images/lord1edit.jpg" class="about-image responsive-img" alt="#">
            <img src="static/images/bloodrage.jpg" class="about-image responsive-img" alt="#"> 
        </div>
        <div class="col s12 m6">
            <p class="welcome-text">
                Game Shelf aims to make board games simple. There are literally thousands of games out there, so it's
                sometimes hard to know where to start when it comes to finding your next (or maybe first!) game.
                To help with that, Game Shelf tries to cut out the clutter and instead provide key information and,
                perhaps more importantly, honest reviews from other players to help you decide what you want to play.
            </p>
            <p class="welcome-text">
                You can browse and search our <a href="{{ url_for('get_catalogue') }}">Games</a> and read the reviews
                other players have written, as well as how each game is rated by the community. If you want to add your
                own ratings and reviews for games you've played, you can register an account and start straight away!
                It's free, and allows you to add ratings and reviews for any of the games in our catalogue.
            </p>
            <p class="welcome-text">
                Once you've reviewed a game, your rating will show up on the <a href="{{ url_for('get_catalogue') }}">Games</a> 
                page so you can see how your rating compares to the community average rating. Your review will also be added 
                to the relevant game page for others to read too. You can add more reviews, and edit or delete existing 
                reviews, from your Profile page.
            </p>
            <p class="welcome-text">
                We hope you find Game Shelf useful. Now go play games!
            </p>
        </div>
        <div class="col m3 hide-on-small-only" id="right-image-column">
            <img src="static/images/scythe-edit.jpg" class="about-image responsive-img" alt="#">
            <img src="static/images/downforce.jpg" class="about-image responsive-img" alt="#">
            <img src="static/images/aboveandbelow.jpg" class="about-image responsive-img" alt="#">            
        </div>
    </div>

{% endblock %}