{% extends "base.html" %}
{% block content %}
    
    <h3 class="deep-purple-text center-align page-header">
        Add Review
    </h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_review') }}">
            <!-- Game Title Selector -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-scroll prefix deep-purple-text"></i>
                    <select id="game_title" name="game_title" class="validate" required>
                        <option value="" disabled selected>Choose Game</option>
                        {% for title in titles %}
                            <option value="{{ title.game_title }}">{{ title.game_title }}</option>
                        {% endfor %}
                    </select>
                    <label for="game_title">Game Title</label>
                </div>
            </div>
            <!-- Review Title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-crown prefix deep-purple-text"></i>
                    <input id="review_title" name="review_title" class="validate" required></textarea>
                    <label for="review_title" class="active">Review Title</label>
                </div>
            </div>
            <!-- Review Text -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen prefix deep-purple-text"></i>
                    <textarea id="review_text" name="review_text" class="materialize-textarea validate" required></textarea>
                    <label for="review_text">Review</label>
                </div>
            </div>
            <!-- Game Rating -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-star-half-alt prefix deep-purple-text"></i>
                    <select id="game_rating" name="game_rating">
                        <option value="" disabled selected>Choose your rating</option>
                        {% for i in range(1,11) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    <label for="game_rating">Rate this game between 1 and 10!</label>
                </div>
            </div>
            <!-- Buttons -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- Cancel Button -->
                    <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large red accent-3 text-shadow">
                        <strong>Cancel</strong> <i class="fas fa-times-circle right"></i>
                    </a>
                    <!-- Submit Button -->
                    <button type="submit" class="btn-large deep-purple text-shadow">
                        Add Review <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}