{% extends "base.html" %}
{% block content %}

    <h3 class="center-align deep-purple-text">
        <hr>
        Games
        <hr>
    </h3>

    <div class="row">
        <div class="col">
            <table class="responsive-table">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th></th>
                    <th>Title</th>
                    {% if session.user %}
                        <th>Your Rating</th>
                    {% endif %}
                    <th>Avg. Rating</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                    {% for game in catalogue %}
                        <tr>
                            <td>
                                1
                            </td>
                            <td><img class="game-thumbnail" src="{{ game.image_url }}"></td>
                            <td>
                                <p>{{ game.game_title }}</p>
                                <p>{{ game.game_description }}</p>
                            </td>
                            {% if session.user %}
                            <td class="center-align">8</td>
                            {% endif %}
                            <td class="center-align">8</td>
                            <td>
                                <a href="{{ game.shop_link }}" target="_blank" class="btn-small light-green">Buy</a>
                                <a href="#" class="btn-small purple lighten-2">Review</a>
                                {% if session.user|lower == "admin"|lower %}
                                <a href="{{ url_for('edit_game', game_id=game._id) }}" class="btn-small blue darken-3">Edit
                                    Game</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}