{% extends "base.html" %}
{% block content %}

    {% for game in catalogue %}
        {{ game.game_title }}<br>
        {{ game.game_description }}<br>
        {{ game.min_player_count }} - {{ game.max_player_count }}<br>
        {{ game.min_play_time }} - {{ game.max_play_time }}<br>
        {{ game.min_player_age }}<br>
        {{ game.release_year }}<br>
        {{ game.designer }}<br>
        {{ game.artist }}<br>
        {{ game.publisher }}<br>
        <img src="{{ game.image_url }}"><br>
        <hr>
    {% endfor %}

{% endblock %}
