<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Shelf</title>
</head>
<body>
    {% for game in catalogue %}
        {{ game.game_title }}<br>
        {{ game.game_description }}<br>
        {{ game.min_player_count }} - {{ game.max_player_count }}<br>
        {{ game.min_play_time }} - {{ game.max_play_time }}<br>
        {{ game.min_player_age }}<br>
        {{ game.release_year }}<br>
        {{ game.designer }}<br>
        {{ game.artist }}<br>
        {{ game.publisher }}<br>
        <img src="{{ game.image_url }}">
    {% endfor %}
</body>
</html>