{% extends "base.html" %}
{% block content %}
    
    <h3 class="deep-purple-text center-align page-header">
        Edit Game
    </h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{url_for('edit_game', game_id=game._id) }}">
            <!-- Game Title Entry -->
            <!-- Game Title Entry -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-scroll prefix deep-purple-text"></i>
                    <input id="game_title" name="game_title" value="{{ game.game_title }}" class="validate" required></input>
                    <label for="game_title" class="active">Game Title</label>
                </div>
            </div>
            <!-- Game Description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen prefix deep-purple-text"></i>
                    <textarea id="game_description" name="game_description" class="materialize-textarea validate" required>{{- game.game_description -}}</textarea>
                    <label for="game_description">Game Description</label>
                </div>
            </div>
            <!-- Long Description Paragraphs -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen prefix deep-purple-text"></i>
                    <textarea id="description_para_1" name="description_para_1" class="materialize-textarea validate">{{- game.description_para_1 -}}</textarea>
                    <label for="description_para_1" class="active">Long Description #1</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen prefix deep-purple-text"></i>
                    <textarea id="description_para_2" name="description_para_2" class="materialize-textarea validate">{{- game.description_para_2 -}}</textarea>
                    <label for="description_para_2" class="active">Long Description #2</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen prefix deep-purple-text"></i>
                    <textarea id="description_para_3" name="description_para_3" class="materialize-textarea validate">{{- game.description_para_3 -}}</textarea>
                    <label for="description_para_3" class="active">Long Description #3</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen prefix deep-purple-text"></i>
                    <textarea id="description_para_4" name="description_para_4" class="materialize-textarea validate">{{- game.description_para_4 -}}</textarea>
                    <label for="description_para_4" class="active">Long Description #4</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen prefix deep-purple-text"></i>
                    <textarea id="description_para_5" name="description_para_5" class="materialize-textarea validate">{{- game.description_para_5 -}}</textarea>
                    <label for="description_para_5" class="active">Long Description #5</label>
                </div>
            </div>
            <!-- Player Counts -->
            <div class="row">
                <div class="input-field col s4">
                    <i class="fas fa-user-minus prefix deep-purple-text"></i>
                    <input id="min_player_count" name="min_player_count" type="text" value="{{ game.min_player_count }}" class="validate" required></input>
                    <label for="min_player_count">Min. Player Count</label>
                </div>
                <div class="input-field col s4">
                    <i class="fas fa-user-plus prefix deep-purple-text"></i>
                    <input id="max_player_count" name="max_player_count" type="text" value="{{ game.max_player_count }}" class="validate"></input>
                    <label for="max_player_count">Max. Player Count</label>
                </div>
                <div class="input-field col s4">
                    <i class="fas fa-user-clock prefix deep-purple-text"></i>
                    <input id="min_player_age" name="min_player_age" type="text" value="{{ game.min_player_age }}" class="validate" required></input>
                    <label for="min_player_age">Min. Player Age</label>
                </div>
            </div>
            <!-- Play Time -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-hourglass-start prefix deep-purple-text"></i>
                    <input id="min_play_time" name="min_play_time" type="text" value="{{ game.min_play_time }}" class="validate" pattern="[0-9]" required></input>
                    <label for="min_play_time">Min. Play Time</label>
                </div>
                <div class="input-field col s6">
                    <i class="fas fa-hourglass-end prefix deep-purple-text"></i>
                    <input id="max_play_time" name="max_play_time" type="text" value="{{ game.max_play_time }}" class="validate" pattern="[0-9]"></input>
                    <label for="max_play_time">Max. Play Time</label>
                </div>
            </div>
            <!-- Release Year and Publisher -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-calendar prefix deep-purple-text"></i>
                    <input id="release_year" name="release_year" type="text" value="{{ game.release_year }}" class="validate" required></input>
                    <label for="release_year">Release Year</label>
                </div>
                <div class="input-field col s6">
                    <i class="fas fa-book-reader prefix deep-purple-text"></i>
                    <input id="publisher" name="publisher" value="{{ game.publisher }}" class="validate" required></input>
                    <label for="publisher" class="active">Publisher</label>
                </div>
            </div>
            <!-- Designer(s)-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen-fancy prefix deep-purple-text"></i>
                    <input id="designer" name="designer" value="{{ game.designer }}" class="validate" required></input>
                    <label for="designer" class="active">Designer(s)</label>
                </div>
            </div>
            <!-- Artist(s) -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-paint-brush prefix deep-purple-text"></i>
                    <input id="artist" name="artist" value="{{ game.artist }}" class="validate" required></input>
                    <label for="artist" class="active">Artist(s)</label>
                </div>
            </div>
            <!-- Image URL -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-image prefix deep-purple-text"></i>
                    <input id="image_url" name="image_url" value="{{ game.image_url }}" class="validate" required></input>
                    <label for="image_url" class="active">Image URL</label>
                </div>
            </div>
            <!-- Shop Link -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-shopping-cart prefix deep-purple-text"></i>
                    <input id="shop_link" name="shop_link" value="{{ game.shop_link }}" class="validate" required></input>
                    <label for="shop_link" class="active">Shop Link</label>
                </div>
            </div>
            <!-- Buttons -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- Cancel Button -->
                    <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large red accent-3 text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <!-- Submit Button -->
                    <button type="submit" class="btn-large deep-purple text-shadow">
                        Edit Review <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}