{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align deep-purple-text page-header">
                    {{username|capitalize}}'s Profile
                </h3>         
            </div>
        </div>
    </div>
    <a href="{{ url_for('add_review') }}" class="btn-large purple">Add Review</a>
    {% if session.user|lower == "admin"|lower %}
        <a href="{{ url_for('add_game') }}" class="btn-large black-text blue lighten-3">Add Game</a>
    {% endif %}

    <h4 class="left-align deep-purple-text">{{username|capitalize}}'s Reviews</h4>
    <ul class="collapsible">
        {% for review in reviews %}
        <li class="row review-box">
            <div class="collapsible-header deep-purple white-text">
                <div class="col s8">
                    <i class="fas fa-caret-down"></i>
                    <strong>{{ review.game_title }}</strong>
                </div>
                <div class="col s4">                
                    <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn-small purple">Edit</a>
                    <button data-target="{{ review._id }}" class="btn-small pink darken-1 modal-trigger">Delete</button>
                    <!-- Modal Structure -->
                    <div id="{{ review._id }}" class="modal">
                        <div class="modal-content deep-purple-text">
                            <h4>Are you sure you want to delete this review?</h4>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('delete_review', review_id=review._id) }}" class="modal-close btn-small pink darken-1">
                                Delete
                            </a>
                            <a href="{{ url_for('profile', username=session['user']) }}" class="modal-close btn-small black-text blue lighten-3">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapsible-body">
                <strong>{{ review.review_title }}</strong>
                <p><em>Written on {{ review.date_created.strftime("%B %d, %Y") }}</em></p>
                <p><strong>Rating: {{ review.game_rating }}</strong></p>
                <span>{{ review.review_text }}</span>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}