{% extends "base.html" %}
{% block content %}

    <hr>
    <h3 class="center-align deep-purple-text page-header">Individual Game Page</h3>
    <hr>

    <div class="row">
        <div class="col s12 m6">
            <div >
                <img id="game-image" class="col s8" src="{{ game.image_url }}" alt="{{ game.game_title.lower() }}-thumbnail">
            </div>
            {% if game.average_rating != 0 %}
            <div id="rating-box" class="col s2 center-align">
                <p>
                    {{ game.average_rating }}
                </p>
                <label>
                    Avg. Rating
                </label>
            </div>
            {% else %}
            <div id="rating-box" class="col s2 center-align">
                <p>
                    --
                </p>
                <label>
                    Avg. Rating
                </label>
            </div>
            {% endif %}
            {% if 'user' in session %}
                {% if existing_review == 1 %}
                    <!-- Display to registered users without review -->
                    <div id="user-rating-box" class="col s2 center-align">   
                        <p>
                            --
                        </p>
                        <label>
                            Your Rating
                        </label>   
                    </div>
                {% else %}
                    <!-- Display to registered users with review -->
                    <div id="user-rating-box" class="col s2 center-align">   
                        <p>
                            {{ existing_review.game_rating }}
                        </p>
                        <label>
                            Your Rating
                        </label>   
                    </div>
                {% endif %}
            {% else %}
                    <!-- Not displayed for unregistered users -->
            {% endif %}
        </div>
        <div class="col s12 m6">
            <div id="game-details" class="col s12 center-align">
                <h4>
                    {{ game.game_title }} ({{ game.release_year }})
                </h4>
                <p>
                    {{ game.game_description }}
                </p>
            </div>
        </div>
        <div id="game-stats" class="col s12">
            <div class="center-align">
                <div class="col s6 m4">
                    <h6>Player Count:</h6>
                    <p>{{ game.min_player_count }} - {{ game.max_player_count }}</p>
                </div>
                <div class="col s6 m4">
                    <h6>Play Time:</h6>
                    <p>{{ game.min_play_time }} - {{ game.max_play_time }} mins</p>
                </div>
                <div class="col s12 m4">
                    <h6>Player Age:</h6>
                    <p>{{ game.min_player_age }}</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div id="button-box" class="col s12 center-align">
            
            {% if 'user' in session %}
                {% if existing_review == 1 %}
                    <!-- Display to registered users without review -->
                    <div class="col s6">
                        <a href="{{ game.shop_link }}" target="_blank" class="btn-large light-green darken-3">Buy</a>
                    </div>                
                    <div class="col s6">
                        <a href="{{ url_for('add_review') }}" class="btn-large purple lighten-2">Review</a>
                    </div>
                {% else %}
                    <!-- Display to registered users with review -->
                    <div class="col s6 push-s3">
                        <a href="{{ game.shop_link }}" target="_blank" class="btn-large light-green darken-3">Buy</a>
                    </div>
                {% endif %}
            {% else %}
                <!-- Display to unregistered users -->                
                <div class="col s6 push-s3">
                    <a href="{{ game.shop_link }}" target="_blank" class="btn-large light-green darken-3">Buy</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div id="long-description">
        <h5>
            Description
        </h5>
        <hr>
        <div>
            <p>{{game.description_para_1}}</p>
            <p>{{game.description_para_2}}</p>
            <p>{{game.description_para_3}}</p>
            <p>{{game.description_para_4}}</p>
            <p>{{game.description_para_5}}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div id="reviews-box" class="col s12">
            <h4 class="deep-purple-text center-align">
                Reviews
            </h4>
            {% if reviews|length == 0 %}
                <div class="center-align">
                    <p>It doesn't look like anyone's written a review for this game yet!</p>
                    <p>Want to be the first?</p>
                    <a href="{{ url_for('add_review') }}" class="btn-large purple lighten-2">Review</a>
                </div>
            {% else %}
                <ul class="collapsible">
                {% for review in reviews %}
                    <li class="row review-box">
                        <div class="collapsible-header deep-purple white-text text-shadow">
                            <div class="col left-align">
                                <i class="fas fa-caret-down"></i>
                                <strong>{{ review.review_title }}</strong>
                            </div>   
                        </div>
                        <div class="collapsible-body">
                            <p><em>Written by {{ review.username|capitalize() }} on {{ review.date_created.strftime("%B %d, %Y") }}</em></p>
                            <p><strong>Rating: {{ review.game_rating }}</strong></p>
                            <span>{{ review.review_text }}</span>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
    </div>
    
{% endblock %}